# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# Virtual environments
.venv/
venv/

# OS
.DS_Store

# IDE
.idea/
.vscode/
*.swp

# Spark
spark-warehouse/
derby.log

# Pytest
.pytest_cache/

# Environment
.env
